@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Site desenvolvido por Klinger System & Computer</p>
<h5>Desenvolvedor:</h5><p>Leandro klinger de Oliveira Proença</p>

<a href="https://www.linkedin.com/in/leandroklingeroliveira/">Linkedin</a>
|
<a href="https://github.com/leoklinger77">GitHub</a>

<br />
<a href="https://github.com/leoklinger77/AspNetCoreMvcEnterprise">Repositorio do Projeto</a>
