@model IEnumerable<Enterprise.App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>
<vc:summary></vc:summary>
<p >
    <a disable-by-claim-name="Supplier" disable-by-claim-value="Insert" class="btn btn-outline-info" asp-action="Create">Novo Produto</a>
</p>

<partial name="_ListProduct" />
