@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registrar-se";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Associe o seu @Model.ProviderDisplayName à conta.</h4>
<hr />

<p id="external-login-description" class="text-info">
    Você se autenticou com sucesso com <strong>@Model.ProviderDisplayName</strong>.
    Por favor, insira um endereço de e-mail para este site abaixo e clique no botão Registrar para terminar fazendo login.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
