@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueci a confirmação da senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, verifique seu e-mail para redefinir sua senha.
</p>

